.editor {
  position: relative;
  height: 100vh;
  border-right: 1px #ddd solid;
}

.editor button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: #abb2bf;
  color: #2c313a;
  border: none;
  outline: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
